#cabecalho{
  background-color: #fe9636;
  border: 3px solid #000000;
}
form{
  background-color: #f7f7f7;
}
form#cadastroProdutoF{
  display: none;
}
form#cadastroClienteF{
  display: none;
}
.novoEstilo{
  display: block;
}
h5#tituloCadastroProduto{
  display: none;
} 
.nomeConsel{
  display: flex;
  justify-content: right;
}
.letras{
  font-size: larger;
  font-weight: 600;
}
.statusAguardandoOrc{
  background-color: #17a2b8;
}
.statusAguardandoAprovOrc{
  background-color:#ffc107;
}
.statusAprovado{
  background-color: #28a745;
}
.statusPronto{
  background-color: rgba(231, 231, 124, 0.83);
}
.statusNaoAprovado{
  background-color:#dc3545;
}

.logoConsel {
  width: 250px;
  height: auto;
}

.border-laranja {
  border-color: orange !important; 
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}