#cabecalho{
  background-color: #fe9636;
  border: 3px solid #000000;
}
form{
  background-color: #f7f7f7;
}
form#cadastroProdutoF{
  display: none;
}
form#cadastroClienteF{
  display: none;
}
.novoEstilo{
  display: block;
}
h5#tituloCadastroProduto{
  display: none;
} 
.nomeConsel{
  display: flex;
  justify-content: right;
}

.logoConsel {
  width: 250px;
  height: auto;
}

.border-laranja {
  border-color: orange !important; 
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #000000;
  text-decoration: none;
}